@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap')
$primary:#1db954
$secondary:#1f703c
$text:#fff
a,p,h1 
    font-family: 'Nunito', 'sans-serif'
    font-size: 26px
    font-weight: bold
    flex-basis: 10%
h1
    font-size: 50px
    
    
.container
    width: 98%
    height: 100px
    margin-top: 2%
    margin-left: 1%
    background-color: rgb(32, 32, 32)
    border-radius: 20px
    min-height: 150px
    text-align: center
    display: flex
    flex-flow: rows
.containerImmagine
    flex-basis: 15%
    
.immagine
    width: 140px
    height: 140px
    text-align: center
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    border-radius: 200px
    margin-top: 5px

.numero
    margin-top: 55px