@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap')
$primary:#1db954
$secondary:#1f703c
$text:#fff
a,p,h1 
    font-family: 'Nunito', 'sans-serif'
    font-size: 25px
    font-weight: bold
h1
    font-size: 50px

    
    
